CONTACT_TO_EMAIL="barancelal58@hotmail.com"
CONTACT_FROM_EMAIL="Portfolio Baran <onboarding@resend.dev>"
RESEND_API_KEY="ta-cle-api-resend"

NEXT_PUBLIC_TURNSTILE_SITE_KEY="ta-site-key-cloudflare-turnstile"
TURNSTILE_SECRET_KEY="ta-secret-key-cloudflare-turnstile"
